<launch>

  
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" />

  
  <!--
Start Nao 1
-->
  <arg name="nao_ip1" default="$(optenv NAO_IP 192.168.1.19)" />
  <arg name="nao_port1" default="$(optenv NAO_PORT 9559)" />
  
 <!--
Top camera 1
-->
  <node pkg="nao_driver" type="nao_camera.py" name="nao_camera1" required="true" args="--pip=$(arg nao_ip1) --pport=$(arg nao_port1)" output="log">
    <param name="camera_switch" value="0"/>
    <remap from="image_raw" to="image_raw1"/>
  </node>
  
  <!--
IMAGE CONVERTER 1
-->
  <node pkg="exchange" type="imageconverter" name="im_conv1" args='1' output="screen">
    <param name="NAO_IP" value="$(arg nao_ip1)"/>
    <param name="NAO_PORT" value="$(arg nao_port1)"/>
  </node>

<!--
Start Nao 2
-->
  <arg name="nao_ip2" default="$(optenv NAO_IP 192.168.1.127)" />
  <arg name="nao_port2" default="$(optenv NAO_PORT 9559)" />
  
 <!--
Top camera 2
-->
  <node pkg="nao_driver" type="nao_camera.py" name="nao_camera2" required="true" args="--pip=$(arg nao_ip2) --pport=$(arg nao_port2)" output="screen">
    <param name="camera_switch" value="0"/>
    <remap from="image_raw" to="image_raw2"/>
  </node>
  
  <!--
IMAGE CONVERTER 2
-->
  <node pkg="exchange" type="imageconverter" name="im_conv2" args='2' output="screen">
    <param name="NAO_IP" value="$(arg nao_ip2)"/>
    <param name="NAO_PORT" value="$(arg nao_port2)"/>
  </node>




<!--
Actions 1
-->
<node pkg="exchange" type="TakeBall" name="TakeBall1" args="1" output="screen">
   <param name="NAO_IP" value="$(arg nao_ip1)"/>
    <param name="NAO_PORT" value="$(arg nao_port1)"/>
  </node>


<node pkg="exchange" type="Catch" name="Catch1" args="1" output="screen">
   <param name="NAO_IP" value="$(arg nao_ip1)"/>
    <param name="NAO_PORT" value="$(arg nao_port1)"/>
  </node>

<node pkg="exchange" type="GiveBall" name="GiveBall1" args="1" output="screen">
   <param name="NAO_IP" value="$(arg nao_ip1)"/>
    <param name="NAO_PORT" value="$(arg nao_port1)"/>
  </node>

<node pkg="exchange" type="Drop" name="Drop1" args="1" output="screen">
   <param name="NAO_IP" value="$(arg nao_ip1)"/>
    <param name="NAO_PORT" value="$(arg nao_port1)"/>
  </node>

<node pkg="exchange" type="TakeBall" name="TakeBall2" args="2" output="screen">
   <param name="NAO_IP" value="$(arg nao_ip2)"/>
    <param name="NAO_PORT" value="$(arg nao_port2)"/>
  </node>


<node pkg="exchange" type="Catch" name="Catch2" args="2" output="screen">
   <param name="NAO_IP" value="$(arg nao_ip2)"/>
    <param name="NAO_PORT" value="$(arg nao_port2)"/>
  </node>

<!--
Object Server
-->
<node pkg="exchange" type="objectServer" name="ObjectServer" args='2' output="screen">
  </node>
  
<!--
Behavior Tree 1
-->
  <node pkg="exchange" type="exchange" name="NAO_NAOBT" output="log">
    <param name="file" value="/home/geoffray/ros_workspace/exchange/bt-examples/ExchangeBT.txt"/>
  </node>

</launch>


